*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333;
  padding: 10px;
}

h3{
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.content{
  width: 100%;
  max-width: 380px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 2px black;
}

.github, .google{
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.github i, .google i {
  color: #222;
  font-size: 16px;
}

.github p, .google p{
  color: #222;
  font-weight: 600;
  font-size: 14px;
}

.hr{
  height: 1.5px;
  width: 100%;
  background-color: lightgray;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label{
  font-weight: 500;
  font-size: 16px;
  color: #333;
}

input{
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  outline: none;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  background-color: dodgerblue;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover{
  background-color: rgb(12, 117, 221);
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer p{
  letter-spacing: 1px;
  font-size: 14px;

}

